body {
    background-color: rgba(119, 149, 177, 0.835);
}



h1 {
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: center;
}

.video-container {
    text-align: center;
}